In [ ]:
#Task 1
import numpy as np
import pandas as pd

np.random.seed(42)

# Create a NumPy array with random values
data = np.random.randn(4, 4)

# Create the DataFrame
df = pd.DataFrame(data)

df

          0         1         2         3
0  0.496714 -0.138264  0.647689  1.523030
1 -0.234153 -0.234137  1.579213  0.767435
2 -0.469474  0.542560 -0.463418 -0.465730
3  0.241962 -1.913280 -1.724918 -0.562288

In [ ]:
#Task 2
df.columns = ['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.496714       -0.138264        0.647689        1.523030
1       -0.234153       -0.234137        1.579213        0.767435
2       -0.469474        0.542560       -0.463418       -0.465730
3        0.241962       -1.913280       -1.724918       -0.562288

In [ ]:
#Task 3
df_stats = df.describe()
df_stats

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.008762       -0.435780        0.009641        0.315612
std          0.439772        1.043924        1.426317        1.007175
min         -0.469474       -1.913280       -1.724918       -0.562288
25%         -0.292984       -0.653923       -0.778793       -0.489869
50%          0.003904       -0.186201        0.092135        0.150852
75%          0.305650        0.031942        0.880570        0.956334
max          0.496714        0.542560        1.579213        1.523030

In [ ]:
#Task 4
null_values = df.isnull().sum()
null_values

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
#Task 5
# Using index location method
column_2_idx = df['Random value 2']
column_3_idx = df['Random value 3']

# Printing the results
print("\nColumn 'Random value 2' with index location method:\n", column_2_idx)
print("\nColumn 'Random value 3' with index location method:\n", column_3_idx)

Column 'Random value 2' with index location method:
 0   -0.138264
1   -0.234137
2    0.542560
3   -1.913280
Name: Random value 2, dtype: float64

Column 'Random value 3' with index location method:
 0    0.647689
1    1.579213
2   -0.463418
3   -1.724918
Name: Random value 3, dtype: float64

In [ ]:
""""
Name: S V Sneha Snigdha
Reg.no: 20MID0179
Campus: VIT Vellore
""""